*~
build
release
data/repositories/JekyllCommander
data/repositories/apache_image_resizer
data/repositories/apache_secure_download
data/repositories/apache_upload_merger
data/repositories/athena
data/repositories/cmess
data/repositories/flattendb
data/repositories/jekyll-localization
data/repositories/jekyll-pagination
data/repositories/jekyll-rendering
data/repositories/jekyll-tagging
data/repositories/libxml-ext
data/repositories/log2counter
data/repositories/perseus_match
data/repositories/promhp
data/repositories/ruby-backports
data/repositories/ruby-filemagic
data/repositories/ruby-nuggets
data/repositories/wadl
